
{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('css/category.css')}}">
{% endblock %}
{% block body %}
<div style="display: flex; justify-content: center; height:40vh" class="entete">
    <div class="typewriter" style="margin:auto">
      <h1>LES BISTROS</h1>
    </div>
  </div>
<div class="container" style="padding-right:2vw; padding-left:2vw;">
  <div class="grid">
  
    {% for bistro in bistros %}
    <div class="grid-item col-lg-4">
      <div class="div-item-content">
        <a href="{{ path('article_show', {'id': bistro.id }) }}">
          <div class="card shadow p-3 mb-5 bg-white rounded" >
            <img class="card-img-top img-thumbnail" src="{{ asset('images/articles/'~ bistro.image)}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{bistro.name}}</h5>
              <p class="card-text price">~{{bistro.price}}€</p>
              {% if (bistro.id in user_articles_ids) == false and is_granted('ROLE_USER') %}
            <a href="{{ path('add_to_list', {'id': bistro.id })}}" class="add-to-list"><button class="btn btn-sm btn-add">AJOUTER</button></a>
            {% elseif is_granted('ROLE_USER') %}
            <button class="btn btn-sm btn-saved">AJOUTÉ</button>
            {% endif %}
              <span class="card-text" style="font-style:italic; color:grey; float:left;">{{bistro.createdAt|date("m/d/Y")}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    
    {% endfor %}
  </div>
</div>
<script>
function masonry_charge(){
  $('.grid').masonry({
    // options
    itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
    percentPosition: true,
    horizontalOrder: true
  });
}
window.onload = masonry_charge;

</script>
{# AJAX CALL FOR ADDING ARTICLE TO USER VIA AXIOS #}
<script>
  function onClickBtnAddList(event){
    event.preventDefault();

    const btnAdd = this.querySelector('.btn-add');
    const url = this.href;
    axios.get(url).then(function(response) {
      btnAdd.textContent = "AJOUTÉ";
      btnAdd.classList.remove("btn-add");
      btnAdd.classList.add("btn-saved");
      
      

    })
  }
  document.querySelectorAll('.add-to-list').forEach(function(link){
    link.addEventListener('click', onClickBtnAddList);
  })
</script>

{% endblock %}
