
{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock %}
{% block body %}

<!-- JUMBOTORN -->

 <div class="jumbotron jumbotron-fluid" style="
  background :url('{{asset('img/paris2.jpg')}}')"=>

{# <video autoplay muted loop>    
    <source src="" data-src="{{asset('videos/paris.mp4')}}" type="video/mp4">
</video> #}

  {# <div class="container-fluid haut"> #}
    <div class="row" style="height:100%; display:flex;">
      <div class="col-lg-4 offset-lg-2 haut-gauche" style="text-align:center;">
        <p style="font-family: 'Roboto Condensed', sans-serif;"->LES <br> DERNIERS <br> BONS <br> PLANS !</p>
        <a href="#last_articles"><p class='icon-scroll'></p></a>
      </div>
      <div class="col-lg-6"></div>
    </div>
  {# </div> #}
  <!-- /.container -->
</div>


<!-- JUMBOTORN END -->


<!-- TOP ARTICLES -->
<div class="container container-top" id="last_articles">
  <div class="row tops">

    <!-- TOP RESTO -->
    <div class="col-sm topresto">
    <div style="background-color:#e3e7ea; padding-bottom:20px;">
      <h2><span>RESTOS</span></h2>
      {% for resto in restos %}
      <a href="{{ path('article_show', {'id': resto.id }) }}">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img class="card-img-top img-thumbnail" src="{{ asset('images/articles/'~ resto.image)}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{resto.name}}</h5>
            <p class="card-text price">~{{resto.price}}€</p>
            <span class="card-text" style="font-style:italic; color:grey; float:left;">{{resto.createdAt|date("d/m/Y")}}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <div style="text-align:center; padding-top:20px">
        <a href="{{ path('resto')}}"><button type="button" class="btn btn-lg">TOUS LES RESTOS</button></a>
      </div>
    </div>

    <!-- TOP BISTRO -->
    <div class="col-sm topbistro">
      <div style="background-color:#e3e7ea; padding-bottom:20px;">
        <h2><span>BISTROS</span></h2>
        {% for bistro in bistros %}
        <a href="{{ path('article_show', {'id': bistro.id }) }}">
          <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <img class="card-img-top img-thumbnail" src="{{ asset('images/articles/'~ bistro.image)}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{bistro.name}}</h5>
              <p class="card-text price">~{{bistro.price}}€</p>
              <span class="card-text" style="font-style:italic; color:grey; float:left;">{{bistro.createdAt|date("d/m/Y")}}</span>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      <div style="text-align:center; padding-top:20px">
        <a href="{{ path('bistro')}}"><button type="button" class="btn btn-lg">TOUS LES BISTROS</button></a>
      </div>
    </div>

    <!-- TOP EXPO -->
    <div class="col-sm topexpo">
    <div style="background-color:#e3e7ea; padding-bottom:20px;">
      <h2><span>EXPOS</span></h2>
      {% for expo in expos %}
      <a href="{{ path('article_show', {'id': expo.id }) }}">
        <div class="card shadow p-3 mb-5 bg-white roundedS" style="width: 18rem;">
          <img class="card-img-top img-thumbnail" src="{{ asset('images/articles/'~ expo.image)}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{expo.name}}</h5>
            {% if expo.price > 0 %}
            <p class="card-text price">~{{expo.price}}€</p>
            {% else %}
            <p class="card-text price">GRATUIT</p>
            {% endif %}
            <span class="card-text" style="font-style:italic; color:grey; float:left;">{{expo.createdAt|date("d/m/Y")}}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <div style="text-align:center; padding-top:20px">
        <a href="{{ path('expo')}}"><button type="button" class="btn btn-lg">TOUTES LES EXPOS</button></a>
      </div>
    </div>

    

    


  </div>
</div>
<!-- TOP ARTICLES END -->


{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
$(document).ready(function () { 
    $('body').hide().fadeIn(1500).delay(6000);
    });

function deferVideo() {

    //defer html5 video loading
  $("video source").each(function() {
    var sourceFile = $(this).attr("data-src");
    $(this).attr("src", sourceFile);
    var video = this.parentElement;
    video.load();
    // uncomment if video is not autoplay
    //video.play();
  });

}
window.onload = deferVideo;
{# document.getElementsByClassName('.jumbotron').onscroll = function(){
  location.hash = "#last_articles";
} #}


</script>
{% endblock %}

