
{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<style>
.container-top{
          max-width:80vw;
        }

  
}
.article{
  padding-bottom:20px;
}
.card-img-top:hover{
}

.card{
  margin:0 auto;
  margin-bottom:50px;
  border:2px solid lightgrey;
  transition: all 0.3s;
  
}
.card:hover{
  
  transform: scale(1.1);
}
h2{
  text-align:center;
  font-family: 'Lobster Two', cursive;
  padding-bottom:30px;
  padding-top:40px;
  font-weight:bold;
}
.topresto, .topbistro, .topexpo{
  background-color:#e3e7ea;
  border-radius:20px;
}
.topresto a, .topbistro a, .topexpo a{
  color:black;
  text-decoration:none;
}
.topresto, .topbistro{
  margin-right:40px;
}
.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  height:calc(100vh - 116px);
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}

h5.card-title{
  font-family: 'Lora', serif;
  font-weight:bold;
}
.price{
  font-weight:bold;
}
h2 span{
  border-bottom:6px solid #2867cc;
}


#bgvid{
  
  width:100%;
  padding-bottom:50px;
}
</style>

<!-- JUMBOTORN -->

 <div class="jumbotron jumbotron-fluid">

<video autoplay muted loop >    
    <source src="" data-src="{{asset('videos/paris.mp4')}}" type="video/mp4">
</video>

  <div class="container text-white">

    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

  </div>
  <!-- /.container -->
</div>

<!-- JUMBOTORN END -->


<!-- TOP ARTICLES -->
<div class="container container-top">
  <div class="row tops">

    <!-- TOP RESTO -->
    <div class="col-sm topresto">
      <h2><span>RESTOS</span></h2>
      {% for resto in restos %}
      <a href="{{ path('article_show', {'id': resto.id }) }}">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img class="card-img-top img-thumbnail" src="{{ asset('images/articles/'~ resto.image)}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{resto.name}}</h5>
            <p class="card-text price">~{{resto.price}}€</p>
            <span class="card-text" style="font-style:italic; color:grey; float:left;">{{resto.createdAt|date("m/d/Y")}}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    <!-- TOP BISTRO -->
    <div class="col-sm topbistro">
    <h2><span>BISTROS</span></h2>
      {% for bistro in bistros %}
      <a href="{{ path('article_show', {'id': bistro.id }) }}">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img class="card-img-top img-thumbnail" src="{{ asset('images/articles/'~ bistro.image)}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{bistro.name}}</h5>
            <p class="card-text price">~{{bistro.price}}€</p>
            <span class="card-text" style="font-style:italic; color:grey; float:left;">{{bistro.createdAt|date("m/d/Y")}}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    <!-- TOP EXPO -->
    <div class="col-sm topexpo">
      <h2><span>EXPOS</span></h2>
      {% for expo in expos %}
      <a href="{{ path('article_show', {'id': expo.id }) }}">
        <div class="card shadow p-3 mb-5 bg-white roundedS" style="width: 18rem;">
          <img class="card-img-top img-thumbnail" src="{{ asset('images/articles/'~ expo.image)}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{expo.name}}</h5>
            {% if expo.price > 0 %}
            <p class="card-text price">~{{expo.price}}€</p>
            {% else %}
            <p class="card-text price">GRATUIT</p>
            {% endif %}
            <span class="card-text" style="font-style:italic; color:grey; float:left;">{{expo.createdAt|date("m/d/Y")}}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    

    


  </div>
</div>
<!-- TOP ARTICLES END -->
<script>
function deferVideo() {

    //defer html5 video loading
  $("video source").each(function() {
    var sourceFile = $(this).attr("data-src");
    $(this).attr("src", sourceFile);
    var video = this.parentElement;
    video.load();
    // uncomment if video is not autoplay
    //video.play();
  });

}
window.onload = deferVideo;

</script>
{% endblock %}
