
{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('css/category.css')}}">
{% endblock %}
{% block body %}

  <div style="display: flex; justify-content: center; height:40vh" class="entete">
    <div class="typewriter" style="margin:auto">
      <h1>MA LISTE</h1>
    </div>
  </div>
  

<div class="container" style="padding-right:2vw; padding-left:2vw;">
  <div class="grid">
  
    {% for article in articles %}
    <div class="grid-item col-lg-4 item{{article.id}}">
      <div class="div-item-content">
        <a href="{{ path('article_show', {'id': article.id }) }}" class="card-link">
          <div class="card shadow p-3 mb-5 bg-white rounded" >
            <img class="card-img-top img-thumbnail" src="{{ asset('images/articles/'~ article.image)}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{article.name}}</h5>
              <p class="card-text price">~{{article.price}}€</p>
              <a href="{{ path('remove_to_list', {'id': article.id })}}" class="remove-to-list" id="card{{article.id}}"><button class="btn btn-sm btn-remove">SUPPRIMER</button></a>
              <span class="card-text" style="font-style:italic; color:grey; float:left;">{{article.createdAt|date("m/d/Y")}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    
    {% endfor %}
  </div>
</div>
<script>
function masonry_charge(){
  $('.grid').masonry({
    // options
    itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
    percentPosition: true,
    horizontalOrder: true
  });
}
window.onload = masonry_charge;

</script>
</script>
{# AJAX CALL FOR removing ARTICLE TO USER VIA AXIOS #}
<script>
  function onClickBtnRemoveList(event){
    event.preventDefault();

    const btnRemove = this.querySelector('.btn-remove');
    const url = this.href;
    const url_array =  url.split('/');
    const id_item = url_array[4];
    const card = document.querySelector('.item' + id_item);
    const msnry = document.querySelector('.grid');
    axios.get(url).then(function(response) {
      console.log(url);
      console.log(url_array);
      console.log('coucou' + id_item);
      console.log(card.className);
      card.style.display = "none";
      masonry_charge();

      
      

    })
  }
  document.querySelectorAll('.remove-to-list').forEach(function(link){
    link.addEventListener('click', onClickBtnRemoveList);
  })
</script>

{% endblock %}
