
{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<style>
body{
    background-color:white;
}
.container{
    font-family: 'Scope One', serif;
    font-weight:600;
    margin-top:50px;
    background-color:#E3E7EA;
    width:80%;
    padding-right:50px;
    padding-left:50px;
    padding-top:80px;
    padding-bottom:50px;
    
}
#map{
    width:100%;
    height:300px;;
}   
.horaires{
    height:100%;
}
.details{
    min-height:50%;
}
.haut{
    padding-bottom:50px;
    min-height:50%;
}

.titre{
    padding-bottom:80px;
    
}
.titre h2{
    font-weight:bold;
    font-family: 'Lobster Two', cursive;
    color:#000000;
    font-size:50px;;
}
h3{
    font-family: 'Lobster Two', cursive;
    color:#002B80;
    padding-bottom:30px;;
    font-weight:bold;
    font-size:50px;
    

}
p.horaire{
    margin-bottom:10px;
}
#adress{
    font-size:15px;
    color:#000000;
    font-style:italic
}
.img-fluid.img-thumbnail{
    min-width:450px;
}
.date_publication{
    font-style:italic;
    color:grey;
    padding-top:80px;;;
}
p.horaire::first-letter {
    text-transform: uppercase;
}

#phone{
    padding-bottom:30px;
    color:#000000;
    font-style:italic

}
#phone, #adress{
    font-size:20px;
}
#tarif{
    border:10px solid black;
    width:210px;
    height:210px;
    text-align:center;
    line-height:190px;
    border-radius:50%;
    font-size:60px;
    font-family: 'Lobster Two', cursive;
    display:inline-block;
    padding-left:20px;;
    padding-right:20px;;
    font-style:italic;

}
#tarif_gratos{
    width:190px;
    height:190px;
    text-align:center;
    line-height:170px;
    border-radius:50%;
    font-size:60px;
    display:inline-block;
    padding-left:20px;;
    padding-right:20px;
}
#infos{
    background-color:white;
    padding:40px;
    text-align:center;
    -moz-box-shadow: 10px 10px 5px 0px #656565;
-webkit-box-shadow: 10px 10px 5px 0px #656565;
-o-box-shadow: 10px 10px 5px 0px #656565;
box-shadow: 10px 10px 5px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
border:1px solid #cfcfcf;
}

</style>
<div class="container shadow" onload="initialize()">
    <div class="row titre">
        <div class="col-6" id="infos">
            <h2>{{article.name}}</h2><br>
            <p id="adress"><span class="adress"><img height="20" src="{{ asset('img/icone_localisation.png')}}" alt="" style="padding-right:10px;"> {{article.adress}}</span>
            {% if article.place is defined %}
                ,<br><span>{{article.place}}</span>
            {% endif %}
            <br><br></p>
            <p id="phone"><img height="20" src="{{ asset('img/icone_phone.png')}}" style="padding-right:10px;" alt=""></p>
            <p id="ouverture" style="font-size:20px;"> </p>
        
        </div>
        {% if article.price == 0 %}
        <div class="col-6 my-auto" style="text-align:center;"><p id="tarif_gratos">GRATUIT</p></div>
        {% else %}
        <div class="col-6 my-auto" style="text-align:center;"><p id="tarif">{{article.price}} €</p></div>
        {% endif %}
    </div>
    <div class="row haut">
            <div class="col-6">
                <img class="img-fluid img-thumbnail" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="">
            </div>
        <div class="col-6">
            <h3>Quel est le plan ?</h3>
            <p>{{article.description}}</p>
        </div>
        
    </div>
    <div class="row details">
        
        <div class="col-6" id="horaires">
            <h3 id="horaire_title">Horaires </h2>
        </div>
        <div class="col-6">
            <h3>Accès</h3>
            <!-- MAP ARTICLE -->
            <div id="map"></div>
            
        </div>
    </div>
    <div class="row date_publication">
    Publié le {{article.createdAt|date("m/d/Y")}}
    </div>


</div>

<!-- MAP ARTICLE -->
<div id="map"></div>


<script>
    var geocoder;
    var map;
    function initialize() {
        var service;
        var infowindow;
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
        zoom: 15,
        center: latlng,
        mapTypeControl: false
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var request = {
            query: "{{article.name|raw}}|{{article.adress}}|{{article.place}}",
            fields: ['name', 'opening_hours', 'geometry', 'place_id'],
        };
        var service = new google.maps.places.PlacesService(map);

        service.findPlaceFromQuery(request, function(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < 1; i++) {
                    if(results[0].opening_hours.open_now == true){
                    document.getElementById("ouverture").innerHTML += "<span style='color:green; font-weight:bold; font-size:30px; margin-left:10px; border:3px solid green; border-radius:30px;padding:20px; padding-top:10px; padding-bottom:6px;;'> OUVERT</span>";
                    }
                    else{
                        document.getElementById("ouverture").innerHTML += "<span style='color:red; font-weight:bold; font-size:30px; margin-left:10px; border:3px solid red; border-radius:30px;padding:20px; padding-top:10px; padding-bottom:6px;;'> FERMÉ</span>";
                    }
                }
            
            }
            console.log(results[0]);
            console.log(results[0].place_id);
            var request = {
                placeId: results[0].place_id,
                fields: ['name', 'opening_hours', 'formatted_phone_number', 'geometry']
            };

            service = new google.maps.places.PlacesService(map);
            service.getDetails(request, callback);
            
            function callback(place, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                console.log('ok');
                console.log(place);
                console.log(place.opening_hours.weekday_text);
                var horaires = place.opening_hours.weekday_text;
                for(var i=0; i < horaires.length; i++){
                    document.getElementById("horaires").innerHTML += "<p class='horaire'>"+horaires[i]+"</p>";
                }
                var phone = place.formatted_phone_number;
                if (typeof phone !== 'undefined'){
                    document.getElementById("phone").innerHTML += place.formatted_phone_number;
                }
                else{
                    document.getElementById("phone").innerHTML += '<span style="color:grey">inconnu</span>';
                }
                

            }
            }
        });
        
        codeAddress();
        function createMarker(place) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
        }

    }

    function codeAddress() {
        var address = "{{article.adress}}";
        geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == 'OK') {
            
            console.log(results[0]);
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }
        });
    }
    

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmJr7LIm3dKeOjtFo7fAH1g5mffDQUL2I&libraries=places&callback=initialize"
    async defer></script>

{% endblock %}
