<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Biryani" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hind+Madurai|Lora|Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">





        {% endblock %}
    </head>
    <body>
    <style>
        
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark{
            max-height:80px;
        }
        #titrenav{
          font-family: 'Cinzel', serif;
          font-size:2.6rem;
          font-weight:700;
          letter-spacing:5px;
        }
        html,body{
          background-color:#020f23;
        }
        
        .navbar{
          background-color:#020f23;
          -moz-box-shadow: 0px 3px 5px 0px #656565;
-webkit-box-shadow: 0px 3px 5px 0px #656565;
-o-box-shadow: 0px 3px 5px 0px #656565;
box-shadow: 0px 3px 5px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
        
        }
        a.nav-link:hover{
          border-bottom:2px solid white;
        } 
        a.nav-link{
          color:white !important;
          font-size:20px;
          margin-right:40px !important;
          border-bottom:2px solid transparent;
          letter-spacing:1px;
          font-family: 'Rubik', sans-serif;

          font-weight:600;
        }
        .btn_bistrot{
          color:white;
          font-size:20px;
          font-weight:bold;
        }
        div.col-4 a{
          text-decoration:none;
          color:black;
        }
        h5.card-title{
          font-family: 'Lora', serif;
          font-weight:bold;
        }
        p.card-text.price{
          font-weight:bold;
        }
        
    </style>
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark fixed">
	<a class="navbar-brand" href="{{ path('site')}}" style="margin-left:30px;"><img class="logo" src="{{ asset('img/logo.png')}}" height="90px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav ml-auto" style= "margin-right:400px;">
    <li class="nav-item">
    <a class="nav-link" href="{{ path('site') }}">ACCUEIL</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ path('resto') }}">RESTOS</a>
    </li>
    <div class="dropdown">
  <button class="btn btn_bistrot dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    BISTROTS
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
    <li class="nav-item"><a class="nav-link" href="{{ path('bistro') }}">BISTROS</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('expo') }}">EXPOS</a></li>
    {% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">déconnexion</a></li>
    {% endif %}


    </ul>
    
  </div>
</nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>{% endblock %}
    </body>
</html>
